<div class="min-h-screen bg-white bg-dark-900 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <img class="mx-auto h-12 w-auto" src="../../../../assets/images/logo/logo-text.svg" alt="Workflow">
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900 text-dark-200">
          Sign in to the Ninja Node
        </h2>
        <p class="mt-2 text-center text-sm text-gray-600">
          Or
          <a (click)="navigateFederatedLogin()" class="font-medium text-indigo-600 hover:text-indigo-500">
            create a new account
          </a>
        </p>
        <div class="bg-white bg-dark-800 overflow-hidden shadow rounded-lg my-8">
            <div class="px-4 py-5 sm:p-6">
              <p class="text-dark-200 text-center">
                  Sign in with one set of credentials to access all Ninja Node apps
                  and features.
              </p>
              <div class="my-8 flex justify-center">
                <button (click)="navigateFederatedLogin()" type="button" class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-gray-200 bg-pink-500 hover:bg-pink-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
                    Sign in
                  </button>
              </div>
              <p class="text-sm text-muted-dark-500">
                We never access your BitClout seed phrase. After you authenticate with the Ninja Node,
                we'll prompt you to connect via BitClout Identity.
              </p>
            </div>
        </div>
      </div>
</div>
