<div class="flex justify-center p-2">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32"><g transform="translate(0, 0)"><g class="nc-loop_ripples-32"> <circle fill="#6366f1" cx="16" cy="16" r="16" transform="translate(5.957442857537952 5.957442857537952) scale(0.627659821403878)" style="opacity:0.6553196428077561;"></circle> </g> 
        <script href="../../../../../assets/js/loaders/rnd-btn-sub-loader.js"></script>
    </g></svg>
</div>
